In [1]:
import pandas as pd
import numpy as np

In [9]:
dfa = pd.read_excel('Pooled samples_DDA_POS.xlsx')
dfb = pd.read_excel('row_1.xlsx')

In [10]:
dfa

,Average Rt(min),Average Mz,Metabolite name,Annotation,Box1-serum-pool1,Box1-serum-pool2,Box1-serum-pool3,Box1-serum-pool4,Box1-serum-pool5,Box1-serum-pool6,...,Box2-serum-pool2,Box2-serum-pool3,Box2-serum-pool4,Box2-serum-pool5,Box2-urine-pool1,Box2-urine-pool2,Box2-urine-pool3,Box2-urine-pool4,Average,Stdev
0,14.878,302.30521,"2,2'-(Tetradecylimino)diethanol",Exogenous,60963764,27462162,69483472,57136964,67559496,67369512,...,72001240,93591632,63205448,65797476,82796680,69258184,83766352,84666744,6.827604e+07,1.342792e+07
1,14.820,302.30530,"3,4 DIHYDROXYMANDELATE",Exogenous,71616192,83113992,56661116,69763712,54310608,75409968,...,72010712,86002512,72108832,57066140,82796680,79492512,78291224,69160712,7.052336e+07,9.590407e+06
2,16.734,149.02315,5-Aminovaleric acid,Endogenous,157179952,235517680,262178128,256408496,239293200,170683056,...,197606384,185227856,162803248,235147296,234389168,230859168,229809104,236573296,2.177942e+08,3.074190e+07
3,16.778,149.02316,Acetyl tributyl citrate,Exogenous,228140912,164981552,260256016,167098208,238516576,260595472,...,197337024,185879856,247076528,230275472,232753872,230859168,165384432,238911232,2.211768e+08,3.213502e+07
4,9.014,118.08614,Ceratodictyol,Exogenous,103960136,34098164,32592360,46585504,19857312,20218312,...,13257968,20272784,40998180,19714492,39926884,27118790,20381310,19464668,3.938613e+07,3.407508e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1596,20.506,911.20770,w/o MS2:Acetoacetyl coenzyme A sodium salt hyd...,Exogenous,0,0,0,0,0,0,...,0,257373,0,0,5280,0,0,0,1.313261e+04,5.750024e+04
1597,15.366,911.20801,w/o MS2:Acetosyringone,Exogenous,0,0,0,0,0,0,...,474605,19936,0,0,0,0,0,0,2.472705e+04,1.059839e+05
1598,14.297,911.20837,w/o MS2:Acetyl coenzyme A,Exogenous,0,0,69296,0,0,0,...,13438,0,383252,0,0,67226,0,0,6.442082e+04,1.840648e+05
1599,14.576,911.21008,w/o MS2:ACETYL ISOGAMBOGIC ACID,Exogenous,0,0,576136,0,59436,0,...,0,20079,110716,0,0,478583,0,0,7.098093e+04,1.633388e+05
1600,13.116,654.42969,w/o MS2:Acetyl tributyl citrate,Exogenous,47295,0,22007,0,0,0,...,0,0,0,0,221377,0,0,0,1.453393e+04,5.000214e+04

In [12]:
dfa1 = dfa.loc[:, 'Average Rt(min)':'Average Mz']
dfa2 = dfa.loc[:, 'Box1-serum-pool1':'Box2-urine-pool4']

In [13]:
dfb1 = dfb.loc[:, 'Average Rt(min)':'Average Mz']
dfb2 = dfb.loc[:, 'Box1-serum-pool1':'Box2-urine-pool4']

In [14]:
def corr2_coeff_rowwise2(A,B):
    A_mA = A - A.mean(1)[:,None]
    B_mB = B - B.mean(1)[:,None]
    ssA = np.einsum('ij,ij->i',A_mA,A_mA)
    ssB = np.einsum('ij,ij->i',B_mB,B_mB)
    return np.einsum('ij,ij->i',A_mA,B_mB)/np.sqrt(ssA*ssB)

In [15]:
df = pd.Series(corr2_coeff_rowwise2(dfa2.values,dfb2.values))

In [16]:
df = pd.DataFrame(df)
df

             0
0     1.000000
1     0.040993
2    -0.043078
3     0.194609
4    -0.128726
...        ...
1596  0.449365
1597  0.084050
1598 -0.152448
1599 -0.004380
1600  0.226954

[1601 rows x 1 columns]

In [23]:
df = df.T

In [25]:
df.to_excel('R_mz.xlsx')